
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Booker</h1>
<h5>- Rent Books</h5>

<a role="button" href="~/Customers/Index" class="btn btn-primary btn-lg btn-block">View Customers</a>
<a role="button" href="~/Books/Index" class="btn btn-primary btn-lg btn-block">View Books</a>